alembic==1.0.9
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coverage==4.5.3
decorator==4.4.0
Flask==1.0.2
Flask-Login==0.4.1
flask-marshmallow==0.10.0
Flask-Migrate==2.4.0
Flask-Moment==0.7.0
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.9
MarkupSafe==1.1.1
marshmallow==2.19.2
marshmallow-sqlalchemy==0.16.2
migrate==0.3.8
pbr==5.2.0
psycopg2-binary==2.8.2
PyJWT==1.7.1
python-dateutil==2.8.0
python-editor==1.0.4
requests==2.21.0
six==1.12.0
SQLAlchemy==1.3.3
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
Tempita==0.5.2
urllib3==1.24.2
Werkzeug==0.15.3
WTForms==2.2.1
