{% extends "base.html" %}

{% block content %}
<div>
    <table style="width:100%">
        <tr>
            <th>Loan For</th>
            <th>Principle</th>
            <th>Monthly Emi</th>
            <th>Tenure(In Months)</th>
            <th>Rate of Interest</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
        {%for loan in loans%}
        <tr>
            <td><a href="/editprofile/{{user.query.get(loan.user).username}}">{{user.query.get(loan.user).username}}</a>
            </td>
            <td>{{loan.principle}}</td>
            <td>{{loan.emi}}</td>
            <td>{{loan.tenure}}</td>
            <td>{{loan.roi}}</td>
            {%if loan.state == 0 %}
            <td>New</td>
            {%endif%}
            {%if loan.state == 1 %}
            <td>Rejected</td>
            {%endif%}
            {%if loan.state == 2 %}
            <td>Accepted</td>
            {%endif%}
            {%if current_user.type_of_user != 0%}
            <td><a href="/editloan/{{loan.id}}">{{loan.total_amount}}</a></td>
            {%else%}
            <td>{{loan.total_amount}}</td>
            {%endif%}
        </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}