{% extends "base.html" %}
{% block content %}
<h1> Create Loan</h1>
<form action="" method="post">
    {{form.hidden_tag() }}
    <p>
        {{ form.user.label }}<br>
        {{ form.user() }} <br>
        {% for error in form.user.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.principle.label }}<br>
        {{ form.principle() }} <br>
        {% for error in form.principle.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.roi.label }}<br>
        {{ form.roi() }}<br>
        {% for error in form.roi.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.tenure.label }}<br>
        {{ form.tenure() }}<br>
        {% for error in form.tenure.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}