{% extends "base.html" %}
{% block content %}
<h1> Edit</h1>
<form action="" method="post">
    {{form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }} <br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=64) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.type_of_user.label }}<br>
        {{ form.type_of_user() }}<br>
        {% for error in form.type_of_user.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}